.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  margin: 5px;
  float: left;
}
.notes-list {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #8ededb;
}

textarea {
  border: none;
  resize: none;
  background-color: #8ededb;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.save:hover {
  background-color: black;
  color: white;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  padding-right: 15px;
  padding-left: 15px;
}

.inputTitle {
  border: none;
  resize: none;
  background-color: #8ededb;
}

.inputTitle:focus {
  outline: none;
  border-bottom: 1px solid black;
  width: 120px;
}
.inputTitle:hover {
  outline: none;
  border-bottom: 1px solid black;
  width: 120px;
}

.delete-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.inputTxt {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
  width: 300px;
}
.inputTxt:hover {
  border-color: #ccc;
}

.inputTxt:focus {
  border-color: #9147ff;
  background: #fff;
}

.containerLogin {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10%;
  text-align: center;
}

.labelLogin {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-btn {
  background: linear-gradient(to bottom right, #dbcb39, #96e1f8);
  border: 0;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  align-items: center;
}

.position-loginbtn-home {
  position: fixed;
  top: 20px;
  right: 30px;
}

.login-btn-home:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(213, 219, 126, 0.5),
    0.125rem 0.125rem 1rem rgba(244, 255, 90, 0.5);
}

.login-btn-home:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(213, 219, 126, 0.5),
    0.125rem 0.125rem 1rem rgba(244, 255, 90, 0.5);
}

.logout-btn {
  border: none;
  cursor: pointer;
}

.size-btn-login {
  width: 150px;
  height: 50px;
}
